header{
  height: 90px;
  margin: 0 0 15em 0;
  background-color: #777777;
}

.currency-rate{
  padding-left: 30px;
  display: flex;
  justify-content: left;
  gap: 50px;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

p{
  margin: 0 7px 0 7px;
  font-size: 1.9em;
  color: #ffff00;
}

h1{
  color: #fdfdfd;
}

.main-content{
  display: flex;
  justify-content: center;
  align-items: center;
}
