<div class="wrapper">
  <div class="currency-exchanger">
    <div class="first-controller">
      <input type="text" id="first-input-controller" [(ngModel)]="firstInputValue"
             (keyup)="firstInputController(firstInputValue)">
      <select id="first-select-controller" [(ngModel)]="firstSelectedCurrency"
              (change)="firstCurrencyControllerChange(firstSelectedCurrency)">
        <option value="UAH">UAH</option>
        <option value="USD">USD</option>
        <option value="EUR">EUR</option>
      </select>
    </div>
    <div class="second-controller">
      <input type="text" id="second-input-controller" [(ngModel)]="secondInputValue"
             (keyup)="secondInputController(secondInputValue)">
      <select id="second-select-controller" [(ngModel)]="secondSelectedCurrency"
              (change)="secondCurrencyControllerChange(secondSelectedCurrency)">
        <option value="UAH">UAH</option>
        <option value="USD">USD</option>
        <option value="EUR">EUR</option>
      </select>
    </div>
  </div>
</div>
